# Build outputs
bin/
build/
x64/
Debug/
Release/
*.obj
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.cache
*.vc.db
*.opendb

# Qt generated
**/qt/
*.qmake.stash
*.moc
*.uic

# CUDA
*.cu.obj
*.cubin
*.ptx
*.fatbin*

# VS user files
*.user
*.suo
.vs/
